@model IEnumerable<FaqSystem.Models.FaqSection>

<nav class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3>Frequently Asked Questions</h3>
    </div>
    

    <ul class="list-unstyled components" id="SectionNavList">
        @{var mdl = Model.ToList();}
        @for (int i = 0; i < mdl.Count; i++)
        {
            <li>
                <a href="#submenu-@i" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">@mdl[i].SectionTitle</a>
                <ul class="collapse list-unstyled submenu-list" id="submenu-@i">

                    @for (int j = 0; j < mdl[i].QList.Count; j++)
                    {
                        <li><a asp-action="Index" asp-route-secId="@i" asp-route-qId="@j">@mdl[i].QList[j].Title</a></li>
                    }

                </ul>
            </li>
        }

    </ul>

</nav>

<script type="text/javascript" language="javascript" >
    var sectionArray = @Html.Raw(Json.Serialize(Model.ToList()));
    var urlParams = new URLSearchParams(window.location.search);
    var secId = 0;
    var qId = 0;
    var secEle;
    window.onload = function () {
        if (urlParams.has("secId")) {
            secId = urlParams.get("secId");
        }
        if (urlParams.has("qId")) {
            qId = urlParams.get("qId");
        }
        selectOption(secId, qId);
    };

    function selectOption(sid, qid) {
        var secEleList = $("#SectionNavList").children("li");
        secEle = $(secEleList[sid]);
        secEle.children(".dropdown-toggle").click();
        secEle.children(".dropdown-toggle").addClass("active");
        var qEle = $(secEle.children("ul").children("li")[qid]);
        qEle.addClass("active");

    }

</script>