@model IEnumerable<DynamicFAQ.Models.Section>

@{
    ViewData["Title"] = "Index";
    var idx = 0;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css" />

    

    <script type="text/javascript" src="js\jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1>FAQ <small>Frequently Asked Questions</small></h1>
        </div>
    <div class="container">

    <br />
    </div>
        @foreach (var sec in Model)
        {
            <!--FAQ - START -->
            <div class="container">

                <br />

                <div class="panel-group" id="accordion">

                    <!--SECTION TITLE-->
                    <div class="faqHeader">@sec.Name</div>
                    
                    

                    @foreach (var item in sec.Data)
                    {
                        <!--QUESTION-->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="@("#" + "collapse" + idx.ToString())">@item.Question</a>
                                </h4>
                            </div>



                            <!--ANSWER BODY-->
                            <div id="@("collapse" + idx.ToString())" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @item.Answer
                                </div>
                            </div>


                        </div>
                        idx++;

                    }



                </div>
            </div>}
        <style>

            .faqHeader {
                font-size: 27px;
                margin: 20px;
            }

            .panel-heading [data-toggle="collapse"]:after {
                font-family: 'Glyphicons Halflings';
                content: "\e072"; /* "play" icon */
                float: right;
                color: #F58723;
                font-size: 18px;
                line-height: 22px;
                /* rotate "play" icon from > (right arrow) to down arrow */
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }

            .panel-heading [data-toggle="collapse"].collapsed:after {
                /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                color: #454444;
            }
            .panel-heading [data-toggle="collapse"]:after {
                font-family: 'Glyphicons Halflings';
                content: "\e072";
                float: right;
                color: #F58723;
                font-size: 18px;
                line-height: 22px;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }

            .panel-heading [data-toggle="collapse"].collapsed:after {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                color: #454444;
            }
        </style>
    </div>
</body>