@model IEnumerable<FaqSystem.Models.FaqSection>

<div><br />
    <table class="table table-bordered" id="QTable">
        <thead>
            <tr>
                <th>
                    QID
                </th>
                <th>
                    Question
                </th>
                <th>
                    Section
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faqSection in Model)
            {
                foreach (var faqQuestion in faqSection.QList)
                {


                    <tr>
                        <td>
                            @faqQuestion.Id
                        </td>
                        <td>
                            @faqQuestion.Title
                        </td>
                        <td>
                            @faqSection.SectionTitle
                        </td>
                        <td>
                            <a asp-action="EditQuestion" asp-route-id="@faqQuestion.Id">Edit</a> |
                            <a asp-action="QuestionDetails" asp-route-id="@faqQuestion.Id">Details</a> |
                            <a asp-action="DeleteQuestion" asp-route-id="@faqQuestion.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <script language="javascript" type="text/javascript">

        $('#QTable').DataTable();

    </script>
    </div>