@model IEnumerable<FaqSystem.Models.FaqSection>

<br />
<table class="table table-bordered fa-scroll" id="STable">
    <thead>
        <tr>
            <th>
                SID
            </th>
            <th>
                Section Title
            </th>
            <th>
                Questions Count
            </th>
            <th>
                Controls
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.SectionTitle
        </td>
        <td>
            @item.QList.Count
        </td>
        <td>
            @if (item.Id != 0)
            {
                <a asp-action="SectionDetails" asp-route-id="@item.Id" asp-route-mode="edit">Edit</a>
            } 
                <a asp-action="SectionDetails" asp-route-id="@item.Id" asp-route-mode="details">Details</a> 
            @if(item.Id != 0)
            {
                <a asp-action="DeleteSection" asp-route-id="@item.Id" asp-route-mode="delete">Delete</a>
            }

        </td>
    </tr>
}
    </tbody>
</table>
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#STable').DataTable();
    });
</script>
</div>